body,
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    padding: 0;
    margin: 0;
}

/*HEADER*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 70px;
    background: #1f2937;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav li a {
    display: block;
    font-size: 18px;
    color: #e5e7eb;
}

/*INTRODUCTION SUNSET*/
.introduction {
    background: #1f2937;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 70px;
}


.introduction h1 {
    max-width: 12ch;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }
  
  .introduction p {
    max-width: 48ch;
    font-size: 18px;
    color: #e5e7eb;
  }
  
  .introduction a {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;
  }
  
  .introduction a:hover{
    background-color: #365f97;
  }
  