body,
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 70px;
    background: #1f2937;
}


.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav li a {
    display: block;
    font-size: 18px;
    color: #e5e7eb;
}


.introduction {
    background: #1f2937;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 70px;
}